version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sssss
      MYSQL_DATABASE: db_awal
      MYSQL_USER: vqfat
      MYSQL_PASSWORD: sssss
      TZ: "Asia/Jakarta"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      - --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pma
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      TZ: "Asia/Jakarta"
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
